@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.portCont{
    
    width: 100%;
    overflow: hidden;
}
.titleTxt{
    color: #00F53D;
    font-family: 'Bruno Ace SC', cursive;
    margin-left: 10rem;
    font-size: 80px;
    margin-top: 3rem;
}
.introTxt{
    color: #00F53D;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 30px;
    text-align: center;
    
}
.abtMeBx{
   margin-top: 5rem; 
   background-color: grey;
    opacity: 80%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 80rem !important;
}

.abtRow{
    justify-content: center ;
    display: flex;
   
    
}

.lanRow{
    background-color: grey;
    opacity: 80%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 10rem !important;
}
.lanTxt{
    color: #00F53D;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 30px;
    text-align: center;
}
.lanTxt2{
    color: #00F53D;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 28px;
    text-align: center;
}

.lanTitle{
    color: #00F53D;
    font-family: 'Bruno Ace SC', cursive;
    text-decoration: underline;
}

.navStyle{
    opacity: 80%;
}
.navTitle{
    color: #00F53D;
    font-family: 'Bruno Ace SC', cursive;
}

.projectsRow{
    display: flex;
   flex-direction: column;
}
.projectsBx{
    background-color: black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 10rem !important;
    flex-direction: row;
    display: flex;
    height: 25rem;
    align-items: center;
}
.projectsTitle{
    color: #00F53D;
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
}
.allforonestyle{
    width: 10rem;
    height: 10rem;
}
.allforonestyle:hover{
    box-shadow: 0px 0px 30px 10px #1e7835;
}
.allTitle{
    font-family: 'Bruno Ace SC', cursive;
    color: #00F53D;
    text-align: center;
    font-size: 10px;
}
.allGroup{
    width: 10rem;
   

}
.languagesUsed{
    font-family: 'Bruno Ace SC', cursive;
    color: #00F53D;
    text-align: center;
   
}

.hamsterHotelstyle{
    width: 10rem;
    height: 10rem;
}
.hamsterHotelstyle:hover{
    box-shadow: 0px 0px 30px 10px #1e7835;
}
.hamsterTitle{
    color: #00F53D;
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
    font-size: 10px;
}
.hamsterGroup{
    width: 10rem;
    margin-left: 3rem;
    float: right;
    
}
.adviceGenstyle{
    width: 10rem;
    height: 10rem;
}
.adviceGenstyle:hover{
    box-shadow: 0px 0px 30px 10px #1e7835;
}
.adviceTitle{
    color: #00F53D;
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
    font-size: 10px;
}
.adviceGroup{
    width: 10rem;
    margin-left: 3rem;
    float: right;
    
}
.budgetGenstyle{
    width: 10rem;
    height: 10rem;
}
.budgetGenstyle:hover{
    box-shadow: 0px 0px 30px 10px #1e7835;
}
.budgetTitle{
    color: #00F53D;
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
    font-size: 10px;
}
.budgetGroup{
    width: 10rem;
    margin-left: 3rem;
    float: right;
    
}
.pokeGenstyle{
    width: 10rem;
    height: 10rem;
}
.pokeGenstyle:hover{
    box-shadow: 0px 0px 30px 10px #1e7835;
}
.pokeTitle{
    color: #00F53D;
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
    font-size: 10px;
}
.pokeGroup{
    width: 10rem;
    margin-left: 3rem;
    float: right;
    
}

.reactTxt{
    font-family: 'Bebas Neue', cursive;
    font-size: 9px;
    margin: 0;
   
    
}
